@import url("@/styles/mixins.less");
.home-container {
  height: 100%;
  // .flex(center, flex-start, column);
  display: flex;
  flex-direction: column;
  
  .header-card {
    padding: 0 40px;
  }
}
