.swiper-container {
  flex: 1;
  overflow-y: auto;
}
.adm-swiper-track {
  height: 100%;
}
.main-item {
  height: calc(100vh - 290px);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 317.5px;
  color: #fff;
}
